.modal {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  @media screen and (max-width: 600px) {
    overflow: auto;
  }
}

.modalContent {
  background-color: #fefefe;
  margin: 110px auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 50%;
  height: auto;
  @media screen and (max-width: 600px) {
    width: 90vw;
  }
}

.closeBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover, &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1vmin;
  justify-content: start !important;
  min-width: 40vw !important;
  max-width: 90vw;
}

.inputLabel {
  color: #fb6300 !important;
  text-align: left !important;
  font-weight: 500 !important;
  font-size: 16px;
}

.textField {
  border-radius: 20px !important;
  text-align: left !important;
  z-index: 20;
}

.textFieldSelect {
  background-color: var(--palette-grey-background) !important;
  border-radius: 20px !important;
  text-align: start;
  z-index: 20;
}

.btn {
  background-color: #fb6300 !important;
  color: white !important;
  align-self: center !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 500 !important;
  padding: 2vmin !important;
  border-radius: 20px !important;
  width: 219px !important;
  height: 40px !important;
  &:hover {
    background-color: #AB4118 !important;
  }
  &:focus {
    outline: none !important;
  }
  &:disabled {
    background: grey !important;
    border: grey 1px solid !important;
  }
}

.btnDelete {
  background-color: white !important;
  color: #c50303 !important;
  border: #c50303 1px solid;
  align-self: center !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 500 !important;
  padding: 2vmin !important;
  border-radius: 20px !important;
  width: 219px !important;
  height: 40px !important;
  &:hover {
    background-color: #730101 !important;
    color: white !important;
  }
  &:focus {
    background-color: #730101 !important;
    color: white !important;
  }
  &:disabled {
    background: grey !important;
    border: grey 1px solid !important;
  }
}

.btnDeleteAction {
  background-color: #c50303 !important;
  color: white !important;
  align-self: center !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 500 !important;
  padding: 2vmin !important;
  border-radius: 20px !important;
  width: 219px !important;
  height: 40px !important;
  &:hover {
    background-color: #730101 !important;
    color: white !important;
  }
  &:disabled {
    background: grey !important;
    border: grey 1px solid !important;
  }
}

.btnEdit {
  background-color: white !important;
  color: #452a71 !important;
  border: solid 1px #452a71;
  align-self: center !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 500 !important;
  padding: 2vmin !important;
  border-radius: 20px !important;
  width: 219px !important;
  height: 40px !important;
  &:hover {
    background-color: #27183f !important;
    color: white !important;
  }
  &:focus {
    background-color: #27183f !important;
    color: white !important;
  }
  &:disabled {
    background: grey !important;
    border: grey 1px solid !important;
  }
}

.btnInvest {
  background-color: white !important;
  color: #fb6300 !important;
  border: solid 1px #fb6300;
  align-self: center !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 500 !important;
  padding: 2vmin !important;
  border-radius: 20px !important;
  width: 219px !important;
  height: 40px !important;
  &:hover {
    background-color: #fb6300 !important;
    color: white !important;
  }
  &:focus {
    background-color: #fb6300 !important;
    color: white !important;
  }
  &:disabled {
    background: grey !important;
    border: grey 1px solid !important;
  }
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.actionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
