
.containerHeader {
  width: -webkit-fill-available !important;
  display: flex;
  height: 100px !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eae7e7;
  z-index: 100 !important;
  align-items: center;
  box-shadow:inset 2px 2px 2px 0px rgba(222,222,222,.2), 3px 3px 3px 0px rgba(0,0,0,.2);
}


.itemsHeader {
  padding: 3vmax;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.textContainerHeader {
  display: flex;
  padding: 0.5vh 1vh;
  color: #fb6300;
  align-items: center;
  float: right;
  gap: 30px;
}


.textHeader {
  display: flex;
  margin: 0 1vw;
  color: var(--palette-primary- #ffffff);
  align-items: center;
  float: right;
  font-weight: bold;
  cursor: pointer;
  a {
    color: #fb6300;
    font-weight: bold;
    text-decoration: none;
  }
  font-size: 14px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}

.logoHeader {
  padding: 10px;
  color:  #fb6300;
  float: left;
  align-items: center;
  cursor: pointer;
  font-size: 3rem;
}

.logoText {
  color:  #fb6300;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
}


.buttonHeader {
  display: flex;
  background-color: #fb6300 !important;
  color:  #ffffff !important;
  border-radius: 100px;
  align-items: center !important;
  float: right !important;
  cursor: pointer;
  width: 147px !important;
  height: 40px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  justify-content: center !important;
}

.buttonHeaderMenu {
  display: flex;
  background-color: #fb6300 !important;
  color:  #ffffff !important;
  border-radius: 10px;
  align-items: center !important;
  float: right !important;
  cursor: pointer;
  width: 40px !important;
  height: 40px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  justify-content: center !important;
}

.menuListItem {
  display: flex;
  padding: 1vmin !important;
  color:  #ffffff !important;
  border-radius: 10px;
  align-items: center !important;
  float: right !important;
  cursor: pointer;
  margin-left: -10%;
  height: 2rem !important;
  width: 120% !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  font-size: 14px !important;
  text-align: left;
  &:hover {
    background-color: #8f3612 !important;
  }
}

.loginText {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px;
  border: solid 1px #fb6300 !important;
  border-radius: 20px !important;
  &:hover {
    background-color: #ea703e !important;
    color: white;
  }
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #fb6300 !important;
  padding: 5px 20px;
  z-index: 1;
  right: 4vmax;
  top: 77px;
  border-radius: 10px;
  gap: 5px;

}

.dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
}
